.Cart {
    display: grid;
    justify-content: center;
}



.LimpiarCartBtn {
    width: auto;
    margin: 5px;
    padding-top: 12px;
    font-size: 15px;
    background: green;
    border-radius: 8px;
    flex: none;
    display: inline-block;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-family: 'Courier New', Courier, monospace;
}

.LimpiarCartBtn:hover, .LimpiarCartBtn:focus {
    background-color: black;
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
}

.CheackOutBtn {
    
    text-decoration: none;
    border-radius: 25;
    margin: 5px;
    width: 25%;
    padding: 12px 15px 15px;
    font-size: 15px;
    background: green;
    border-radius: 8px;
    flex: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    text-transform: uppercase;
}

.CheackOutBtn:hover, .CheackOutBtn:focus {
    background-color: black;
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
}