img {
  width: 100px;
  height: 100px;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  height: 20%;
}

.Navbar {
  width: 100%;
  height: 100px;
  background-color: white;
}

.container {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: rgb(32, 30, 30);
}

.logo {
  width: 10%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  margin-top: 0.2rem;
}

.menu {
  height: 100%;
  text-align: center;

}
